@font-face{
    font-family:'digital-clock-font';
    src: url("../../assets/fonts/digital-7.mono.ttf");
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

/* Navbar section */
.icons-navigation {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 135px;
    margin: 0 auto;
    z-index: 1;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #bdbdbd;
    height: 60px;
    width: 70px;
    background-color: aliceblue;
}
.icons {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.chrono-icon {
    background-image: url("../../assets/images/stopwatch.png");
}
.timer-icon {
    background-image: url("../../assets/images/display.png");
}
.pomodoro-icon {
    background-image: url("../../assets/images/tomato.png");
}

/* Counter section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121f3d;
    width: 100%;
    height: 100vh;
}
.counter-section {
    height: fit-content;
    width: fit-content;
    text-align: center;
}
.main-title {
    font-size: 4rem;
    color: white;
    margin: 15px 0;
}
.watchImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 655px;
    height: 300px;
    margin-left: 30px;
    margin-block: 20px;
    background-image: url("../../assets/images/reloj_analogico_digital.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.counter-container {
    display: grid;
    grid-template-columns: repeat(4, 105px);
    grid-template-rows: 65px 20px;
    grid-auto-flow: column;
    justify-content: center;
    color: white;
    font-family: "digital-clock-font";
    font-size: 2rem;
    padding-right: 44px;
    padding-top: 30px;
}
.numbers-counter {
    display: inline-block;
    font-size: 6rem;
}

/* Chronometer section */
.action-buttons {
    width: 90px;
    height: 40px;
    border-radius: 17px;
    border: 3px solid #bdbdbd;
    margin: 40px 14px 0;
    font-family: 'Roboto';
    font-size: 2rem;
}

/* Timer section */
.timer-section {
    height: fit-content;
    width: fit-content;
    text-align: center;
}
.input-timer {
    width: 60px;
    height: 30px;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    border: 2px solid rgb(240, 240, 251);
    text-align: center;
    padding-left: 12px;
}
.input-timer + span {
    padding-top: 6px;
    color: white;
    font-size: 2rem;
}
.buttonsTimer-section {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 35px 110px;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* Pomodoro section */
.pomodoro-section {
    height: fit-content;
    width: fit-content;
    text-align: center;
}
.radio-selectors {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 2rem;
}
.radio-selectors label {
    margin-top: 6px;
    display: block;
    padding: 0 25px;
}
.radio-selectors input {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

/* Utils */
.inactive {
    display: none;
}